<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div hidden id="hidden-data" merchant-id="1227403" first-name="Sampath" last-name="Kumara"
        user-email="zesta5j7k@gmail.com" user-phone="+94777662700" user-school="NiggerSchool" user-paid-amount="1800">
    </div>

    <button id="payhere-payment">Pay Here</button>

    <script src="https://www.payhere.lk/lib/payhere.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>